/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}


body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
}


.footer {
  position: absolute;
  padding: 0 !important;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #c6e4f5 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}


.container .text-muted {
  display: flex;
  margin: 20px 0;
  width: auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #c6e4f5 !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.input-label {
  width: 150px;
  text-align: left;
}

.input-data {
  width: 230px !important;
}

.submit-settings {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.navbar-header {
  background-color: #c6e4f5 !important;
}

card {
  display: inline-flex;
}

.card-body-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.date-time-settings {
  margin-top: 20px;
  margin-left: 20px;
}

.graph-card {
  margin-top: 20px;
  margin-left: 20px;
}

.DateFormatInput-input-4 {
  height: 32px !important;
}

.input-group-centered {
  align-items: center !important;
}